* {
    box-sizing: border-box;
  }
  
  body {
 
    font-size: 20px;
    color: #444;
    text-align: center;

  }
  
  /*nav {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 9px;
    border-color: black;
    background-color: rgb(184, 184, 184);
    text-align: center;
    z-index: 10;
   
  }*/

  nav {
    background-color: dimgrey;
    border-radius: 9px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  

  footer {

    background-color: #aaa;
  }


  .hero {
    background-color: rgb(230, 230, 230)
  }

  .aboutme {
    background-color: rgb(197, 197, 197);
  }

  .projects {
    background-color:rgb(59, 59, 59);
  }

  .contactinfo {
    background-color:rgb(119, 119, 119);
  }
  
  
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    background-color: #bbb;
  }

  h3 {
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-radius: 9px;
    width: auto;

  }
  

  @media screen and (min-width: 700px){

    .hero {
      height: 500px;
    }

    .aboutme {
      height: 500px;
    }

    .projects {
      height: 500px;
    }

    .contactinfo {
      height: 500px;
    }

  } 

  @media screen and (min-width: 1200px){

    main {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    h3 {
      margin: 10px;
    }

    .columnOne {
      display: flex;
      flex-direction: column;
    }

    .columnTwo {
      display: flex;
      flex-direction: column;
    }

    .hero {
      height: 350px;
      width: 600px;
    }

    .aboutme {
      height: 350px;
      width: 600px;
    }

    .projects {
      height: 350px;
      width: 600px;
    }

    .contactinfo {
      height: 350px;
      width: 600px;
    }
 
    .projectsDiv {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: space-evenly;
      margin: 10px;
      
    }

    .contactDiv {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: space-evenly;
      margin: 10px;
      
    }

  }
  