* {
    box-sizing: border-box;
  }
  
  body {
 
    font-size: 20px;
    color: #444;
    text-align: center;

  }
  
  nav,
  footer {

    background-color: #aaa;
  }
  
  nav {
    position: fixed;
   
  }

  .hero {
    background-color: red;
  }

  .aboutme {
    background-color: green;
  }

  .projects {
    background-color: blue;
  }

  .contactinfo {
    background-color:yellow;
  }
  
  
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    background-color: #bbb;
  }
  

  @media screen and (min-width: 700px){

    .hero {
      height: 500px;
    }

    .aboutme {
      height: 500px;
    }

    .projects {
      height: 500px;
    }

    .contactinfo {
      height: 500px;
    }

  } 

  @media screen and (min-width: 1200px){

    main {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .columnOne {
      display: flex;
      flex-direction: column;
    }

    .columnTwo {
      display: flex;
      flex-direction: column;
    }

    .hero {
      height: 350px;
      width: 600px;
    }

    .aboutme {
      height: 350px;
      width: 600px;
    }

    .projects {
      height: 350px;
      width: 600px;
    }

    .contactinfo {
      height: 350px;
      width: 600px;
    }

  }
  